.app {
  background-color: var(--bg);
  display: flex;
  flex-direction: row;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

.home {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

.profile {
  background-color: var(--white);
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;

  a {
    padding: 0px;
    font-size: 1.75rem;
    font-weight: 700;
    text-decoration: underline;
    color: var(--elements);
  }

  & p {
    padding: 0px;
    color: var(--elements);
    text-align: center;
  }

  & span {
    font-weight: 700;
  }
}

.infotoggle {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.5rem;

  &__btn {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;

    & svg {
      width: 2.25rem;
      height: 2.25rem;
      margin: auto;
      fill: var(--elements);
    }

    &:hover {
      background-color: #d8d8d8;
      cursor: pointer;
    }

    &:active {
      background-color: #c4c4c4;
    }
  }
}

.action {
  display: grid;
  place-items: center;

  & p {
    font-weight: 500;
  }

  & button {
    margin-bottom: 1rem;
    padding: 0.75rem 3.75rem;
    border: 0px;
    background-color: var(--btn);
    color: var(--white);
    border-radius: 0.25rem;
    font-size: 1rem;
    transition: transform 0.1s linear, background-color 0.2s ease-in;

    &:hover {
      transform: scale(0.95);
      background-color: var(--btn-hover);
    }

    &:active {
      transform: scale(1);
    }
  }
}

.help {
  display: inline-flex;
  background-color: var(--white);
  padding: 0.2rem 1.5rem;
  border-radius: 2rem;

  & p {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--text);
    margin: auto;
    text-align: center;
  }
}

.success {
  background-color: #34d399;

  & p {
    color: var(--white);
  }
}

.err {
  background-color: #ef4444;

  & p {
    color: var(--white);
  }
}

.gen {
  background-color: #3b82f6;

  & p {
    color: var(--white);
  }
}

.credits {
  margin-top: auto;
  margin-bottom: 2rem;

  &__main {
    margin: auto;
  }

  & a {
    font-weight: 600;
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .app {
    background-color: var(--bg);
    display: grid;
    place-items: center;
    padding: 0px 1rem;
    width: 100vw;
    min-height: 100vh;
    height: auto;
  }

  .home {
    height: auto;
  }

  .header {
    margin: 4rem 1rem 3rem 1rem;

    & h2 {
      text-align: center;
      padding: 0px;
    }
  }

  .action {
    margin: 3rem auto;

    & p {
      text-align: center;
      font-size: 0.9rem;
    }
  }

  .palette {
    padding: 0px 0.5rem;
  }

  .color {
    &-card {
      width: 100%;
      height: 10rem;
      margin: 0.5rem;
    }

    &-element {
      height: 7rem;
    }
  }

  .help {
    margin: 0px auto 4rem auto;

    & p {
      font-size: 0.9rem;
    }
  }

  .infotoggle {
    position: fixed;
  }

  .profile {
    position: fixed;
    border-radius: 0.5rem;
    height: 85%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 999;
    top: 0;
    bottom: 0;
    margin: 5vw;
    width: 90vw;
    left: 0;
    right: 0;
  }

  .key {
    display: none;
  }
}
